/* Fonts */

$text-font-family: "Open Sans",Tahoma,arial,"Hiragino Sans GB","Hiragino Sans GB W3",STHeiti,"Microsoft YaHei",sans-serif
$code-font-family: "Oxygen Mono","YaHei Consolas Hybrid",Consolas,"Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace,"宋体"

/* colors */
$white: #ffffff
$shadow-dark: #313131
$alert-yellow: #ffae25
$theme-blue: #00aae5
$misc-green: #00c075

/* base margin & padding size */
$base-margin-value: 8px
$base-padding-value: 8px
